body {
    margin: 0;
    background: #666666;
    color: white;
    font-family: DM Sans, sans-serif;
}

header {
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h1 {
    font-size: 28px;
    margin-top: 0;
    font-weight: normal;
}

p {
    line-height: 1.6;
    white-space: pre-line;

}

a,
a:visited,
a:hover,
a:active {
    color: white ;
    text-decoration: underline;
}
